.categories {
    overflow: hidden;
    top: 30px;
    left: 0;
    width: 100%;
}
.categories a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.categories a:hover {
    color: olivedrab;
}

